.vs/
__pycache__/
Deploy/.ssh/
Deploy/.ssh/*
temp/
env/
requirementsOLD.txt
requirementsKURS.txt
requirementsMYn.txt
requirementsLatest.txt
requirements_lesson8_3.txt
requirements_lesson9_2.txt
mf.py
pip_test.py
t.txt
t2.txt
celerybeat-schedule.*
config.py
app.log
t/

webapp.db
