{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-11 news-content'>
            {% include('messages.html') %}
            
            <h3>{{ news_title }}</h3>

            {{ news.text|safe }}

            {% if news.comments %}
                <h3>Comments:</h3>
                {% for comment in news.comments %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text}}</p>
                        <p class="card-text">
                            <small>Published: {{ comment.created.strftime('%d.%m.%Y') }} |</small>
                            <p class="card-text">
                            Autor: {{ comment.user.username }}</small>
                            </p>
                        </p>
                    </div>
                </div>
                {% endfor %}            

            {% endif %}

            {% if current_user.is_authenticated %}

                <form action="{{ url_for('news.add_comment') }}" method="POST">
                    {{ comment_form.hidden_tag() }}
                    <div class="form-group">                    
                        {{ comment_form.comment_text.label }}
                        {{ comment_form.comment_text() }}
                    </div> 
                    {{ comment_form.submit() }}
                </fomr>
           
            {% else %}
                <p>
                    <br>
                    <h4><a href="{{ url_for('user.login', next=request.full_path)}}"><em><strong>Log in</strong></em></a>  <em><strong>to add a comment to the news. </strong></em></h4>
                    <br><br>
                </p>
           {% endif %}
                                     

        </div>
          
        <!-- <div class='col-2'>
            <h5>Other news:</h5>
            
        </div> -->
        <!-- <div class='col-2'>
            <h6>Forecast
                {% if city_name %}
                    {{ city_name }}:
                {% else %}
                    - Service error -
                {% endif %}
            </h6>

            {% if weather %}
                Temperature: {{ weather.temp_C }} (°C)<br>
                Feels Like : {{ weather.FeelsLikeC }} (°C)
            {% else %}
                - Service error -
            {% endif %}            
        </div> -->
        
        <div class='col-1'>
            {% include('weather.html') %}
        </div>

    </div>
{% endblock %}