<h6>Forecast
    {% if city_name %}
        {{ city_name }}:
    {% else %}
        - Service error -
    {% endif %}
</h6>

{% if weather %}

    
    Temperature  {{ weather.temp_C }}(°C)<br>
    <div style="white-space: nowrap;">
    Feels like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.FeelsLikeC }}(°C)<br>
    <div style="white-space: nowrap;">
    Temp max  &nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.temp_max }}(°C)<br>
    <div style="white-space: nowrap;">
    Temp min  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.temp_min }}(°C)<br>
    <div style="white-space: nowrap;">
    Pressure  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.pressure }}(hPa)<br>
    <div style="white-space: nowrap;">
    Humidity  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.humidity }}(%)<br>
    <div style="white-space: nowrap;">
    Visibility  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>{{ weather.visibility }}(km)<br>
    <div style="white-space: nowrap;">
    Wind speed  &nbsp;&nbsp;</div>{{ weather.wind_speed }}(m/s)<br>
    <div style="white-space: nowrap;">
    Direct wind  &nbsp;&nbsp;&nbsp;</div>{{ weather.wind_deg }}(&rarr;)<br>
    


{% else %}
    - Service error -
{% endif %}    