<h6>Forecast
    {% if city_name %}
        {{ city_name }}:
    {% else %}
        - Service error -
    {% endif %}
</h6>

{% if weather %}

    <div style="white-space: nowrap;">
    Temperature  {{ weather.temp_C }} (°C)<br>
    Feels_like&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{weather.FeelsLikeC}}(°C)<br>
    Temp max  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather.temp_max }} (°C)<br>
    Temp min  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather.temp_min }} (°C)<br>
    Pressure  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather.pressure }}(hPa)<br>
    Humidity  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather.humidity }} (%)<br>
    Visibility  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ weather.visibility }} (km)<br>
    Wind speed  &nbsp;&nbsp;&nbsp;{{ weather.wind_speed }} (m/s)<br>
    Direct wind  &nbsp;&nbsp;&nbsp;&nbsp;{{ weather.wind_deg }} (&rarr;)<br>
    </div>


{% else %}
    - Service error -
{% endif %}    